<div class="container" style="padding-top:8rem">
    <div class="row">
    </div>
    <div class="row">
        <br />
    </div>
    <div class="row panel">
        <form name="userForm">
            <div class="twelve columns">
                <hr>
                <div class="row" style="padding-top:1rem">
                    <div class="one columns">
                        Food
                    </div>
                    <div class="three columns">
                        <input type="text" id="searchTerm" name="searchTerm" placeholder="Search..." ng-model="searchTerm" value="" class="textbox">
                    </div>
                    <div class="two columns">
                        <a class="uibutton" ng-click="search()">Search</a>
                    </div>
                </div>
                <hr>
            </div>
        </form>
    </div>
    <div class="row panel" dir-paginate="food in foodList.item | itemsPerPage: pageSize">
        <!--total-items="totalCount" >-->
        <a href='#/fooddetails/{{food.ndbno}}' class="panellink">
            <div class="row">
                <div class="row panelheading">
                    <div class="eight columns">
                        {{food.name}}
                    </div>
                    <!--<div class="two columns">
                        <a class="uibutton" ng-click="add(food)">Add</a>
                    </div>-->
                </div>
            </div>
        </a>
    </div>
    <!--<div class="row panel" dir-paginate="userFood in userFoods | itemsPerPage: pageSize">
        total-items="totalCount" >
        <a href='#/food' class="panellink">
            <div class="row">
                <div class="row panelheading">
                    {{userFood.food.name}}
                </div>
                <div class="row">
                    &nbsp;
                </div>
            </div>
        </a>
    </div>-->
</div>